<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
        }

        html, body {
            padding: 0;
            margin: 0;
        }

        .chrom {
            height: 100vh;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
        }

        .pls {
            background-color: red;
            width: 100%;
            height: 200px;
        }

    </style>
</head>
<body>
    <div class="page">
        <div class="chrom">
            <div class="pls"></div>
            <div class="pls"></div>
        </div>
    </div>
</body>
</html>